body {
  /* padding: 0%;
  margin: 0%; */
  
}

a{
 font-weight: 900;
}
.content {
  align-items: center;
  text-align: center;
  padding-top: 10px;
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.header > img {
  height: 40px;
}

.content #btnLogin {
  width: 120px;
  padding: 17px;
  border-radius: 50px;
  margin: auto;
  color: white;
  font-weight: bolder;
  margin-top: 25px;
}

input {
  padding: 11px;
  width: 390px;
  opacity: 0.8;
}
.paypal{
    padding-top: 25px;
   
}

@media (max-width: 499px) {
  /* .content #btnLogin {
    width: 70%;
    padding: 17px;
    border-radius: 50px;
    margin: auto;
    color: white;
    font-weight: bolder;
    margin-top: 25px;
  } */
  input {
    padding: 11px;
    width: 80%;
    opacity: 0.8;
  }
}


