.showError {
  color: red;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
  position: relative;
  top: -5px;

  width: 50%;
  text-align: center;
  margin: auto;
}

@media (max-width: 499px) {
  .speakwithus {
    text-align: center;
    box-shadow: 0 20px 100px 0 rgba(0, 0, 0, 0.7);
    width: 90%;
    margin-left: 7%;
  }

  .speakwithus h3 {
    color: gray;
  }
  .speakwithus h1 {
    color: dodgerblue;
    font-size: 20px;
  }
  .speakwithus input {
    height: 20px;
    border-radius: 50px;
    padding: 10px;
    margin: 2px;
    text-align: center;
    color: black;
    width: 90%;
  }

  .speakwithus textarea {
    width: 90%;
    height: 30px;
    color: black;
  }
  textarea::placeholder {
    color: red;
  }

  .speakwithus button {
    color: dodgerblue;
    border-radius: 50px;
    padding: 5px;
    width: 80%;
  }

  .speakwithus button :hover {
    color: dodgerblue;
    border-radius: 50px;
    padding: 10px;
    width: 90%;
    background-color: gold;
  }
  .showError {
    color: red;
    font-weight: 700;
    font-family: "Times New Roman", Times, serif;
    position: relative;
    top: -5px;
    width: 80%;
    text-align: center;
    margin: auto;
  }
}

@media (min-width: 500px) {
  .speakwithus {
    text-align: center;
    box-shadow: 0 20px 100px 0 rgba(0, 0, 0, 0.7);
    width: 70%;
    /* margin-left: 7%; */
    margin: auto;
  }

  .speakwithus h3 {
    color: gray;
  }
  .speakwithus h1 {
    color: dodgerblue;
    font-size: 20px;
  }
  .speakwithus input {
    height: 20px;
    border-radius: 50px;
    padding: 15px;
    margin: 4px;
    text-align: center;
    color: black;
    width: 90%;
  }

  .speakwithus textarea {
    width: 90%;
    height: 50px;
    color: black;
  }
  textarea::placeholder {
    color: red;
  }

  .speakwithus button {
    color: dodgerblue;
    border-radius: 50px;
    padding: 10px;
    width: 80%;
  }

  .speakwithus button :hover {
    color: dodgerblue;
    border-radius: 50px;
    padding: 10px;
    width: 90%;
    background-color: gold;
  }
}
